@import "../../../styles/index.scss";

.link {
  display: flex;
  min-height: 23px;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: $dark-blue-color;
}

.custom_blue {
  background-color: $blue-color;
  color: $white-color;
  &:hover {
    background-color: $dark-blue-color;
  }
}

.custom_orange {
  background-color: $orange-color;
  color: $white-color;
  &:hover {
    background-color: $dark-blue-color;
  }
}

.active.active {
  color: $white-color;
}
