@import "../../../../styles/index.scss";

.dealsContainer {
  max-width: 270px;
  padding: 14px 8px 14px 10px;
  background: $column-list-color;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  @media screen and (max-width: 1440px) {
    padding: 10px 8px 10px 10px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-width: 230px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: calc(100vh - 302px);
    overflow: auto;
  }

  &__show {
    margin: 0 8px 0 0;
  }
}
