@import "../../../styles/index.scss";

.gallery_filters {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

  @media screen and (max-width: 1024px) {
    gap: 20px;
  }

  &__types {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @media screen and (max-width: 1024px) {
      flex-wrap: nowrap;
      flex-direction: column;
      width: 100%;
    }
  }

  &__search {
    min-width: 190px;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  &__custom_button {
    width: 200px;
    @media screen and (max-width: 1024px) {
      width: 100%;
      max-width: 100%;
    }
  }
}
